.community-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.community-content {
  width: 80%;
  max-width: 1200px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.model-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.model-item {
  background-color: white;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.model-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px white;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.8rem;
}

.write-button {
  position: fixed;
  bottom: 20px;
  left: 42%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1000;
  max-width: 200px; 
  width: auto;
  white-space: nowrap;
}

.write-button:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.write-button:focus {
  outline: none;
}
