/* src/components/SearchBar.css */
.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 25px;
    border: 1px solid #ccc;
  }